
@font-face{
  font-family: jetBrains;
  src: url(fonts/JetBrainsMono-2.242/fonts/webfonts/JetBrainsMono-Regular.woff2)
}

body {
  height:100%;
  background-color: #6515b0;
  font-family: jetBrains;
  margin:0;
  display:flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color:white;
}
a:visited {
  color:inherit;
  text-decoration: none;
}
.header {
  color:rgb(250, 211, 55)
}
#nav {
  height: 10vh;
  width: auto;
  background-color: rgb(0, 0, 0);
  text-align: center;
}
#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: black;
  display: inline-block
  /* display: block; */
}

#nav li {
  display:inline-block;
  text-align: center;
}

#nav li a{
  display: block;
  text-align: center;
  height: 10vh;
  width:15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition:0.5s;

}
#nav li a:hover {
  background-color: blueviolet;
  color: rgb(250, 211, 55);
  transition:0.5s;

  }
#nav a, #nav a:visited {
  text-decoration: none;
  color: rgb(250, 211, 55);
}
.title {
  box-sizing: border-box;
  background-color: black;
  margin: 6vh 6vw 0vh;
  height: 12vh;
  justify-content: center;  
  display: flex;
  align-items: center;
  font-size: 5vmin;
  transition:0.5s;
}


main {
  flex: 1;
  box-sizing: border-box;
  margin: 4vh 6vw 10vh;


}
img {
  width: 25vw;
  display: flex;
  align-items: center; 
  border: 4px solid black;
  margin: auto;
  max-width: 50vw;

}



.half {
  display: inline-block;
  width:43vw;
  height:40vh;
  margin: 0;
}


.textbox {
  background-color: white;
  width: 30vw;
  height:15vh;
  display: flex;
  margin: auto;
  align-items: center; 
  border: 4px solid black;
  
}
.textbox p {
  padding: 2vw;
  text-align: justify;
  font-size: 1.2em;
}

footer {
  width: 100%;
  height: auto;
  margin-top: auto;
  /* position:fixed; */
  right: 0;
  left: 0;
  bottom: 0;
  height: 15vh;
  background-color: #320e54;
}
footer p {
  margin-top:auto;
  color: rgb(250, 211, 55);
}