
@font-face{
  font-family: jetBrains;
  src: url(../fonts/JetBrainsMono-2.242/fonts/webfonts/JetBrainsMono-Regular.woff2)
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
body {
  height:100%;
  background-color: #6515b0;
  font-family: jetBrains;
  margin:0;
  display:flex;
  flex-direction: column;
 
}
a {
  text-decoration: none;
  color: rgb(250, 211, 55);
}
a:visited {
  color:inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}



.header {
  color:rgb(250, 211, 55)
}
#nav {
  height: 10vh;
  width: auto;
  background-color: rgb(0, 0, 0);
  text-align: center;
}
#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: black;
  display: inline-block
  /* display: block; */
}

#nav li {
  display:inline-block;
  text-align: center;
}

#nav li a{
  display: block;
  text-align: center;
  height: 10vh;
  width:15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition:0.5s;

}
#nav li a:hover {
  background-color: blueviolet;
  color: rgb(250, 211, 55);
  transition:0.5s;

  }
#nav a, #nav a:visited {
  text-decoration: none;
  color: rgb(250, 211, 55);
}
.title {
  box-sizing: border-box;
  background-color: black;
  margin: 6vh 6vw 0vh;
  height: 12vh;
  justify-content: center;  
  display: flex;
  align-items: center;
  font-size: 5vmin;
  transition:0.5s;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


main {
  flex: 1;
  flex-direction:column; 
  box-sizing: border-box;
  margin: 4vh 6vw 10vh;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;


}
img {
  width: 25vw;
  display: flex;
  align-items: center; 
  border: 4px solid black;
  margin: auto;
  height: auto;
  max-width: 275px;


}



.half {
  display: inline-block;
  width:43vw;
  height:27.5vw;
  margin: 0;
}


.textbox {
  background-color: white;
  width: 30vw;
  height:15vh;
  display: flex;
  /* margin: auto; */
  align-items: center;  
  text-align: justify;
  border: 4px solid black;
  margin-bottom: 4vh;
  
}
.textbox p {
  padding: 2vw;
  text-align: justify;
  font-size: 1em;
}
.textbox ul{
  text-align: left;
}
.textbox a {
  color :blueviolet;
}

footer {
  width: 100%;
  margin: auto auto 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-height: 20vh;
  background-color: #320e54;
}
footer p {
  margin:auto;
  text-align: center;
  padding: 3vh 4vw 0vh;
  color: rgb(250, 211, 55);
}